<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/Logo.svg" type="image/x-icon">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/stars.css" />
    <script src="/js/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>
        <main class="container error-page">
            <div class="error-alert">
                <p>
                    <%=err.message%>
                </p>
                <% if (process.env.NODE_ENV !=='production' ) { %>
                    <p>
                        <%=err.stack%>
                    </p>
                    <% } %>
            </div>
            <a href=<%=returnToUrl%> class="centered-back-link text-neutral fs-400">&larr; Go Back</a>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>